.todolist-container {
  display: flex;
  flex-wrap: wrap;

  /* justify-content: center; */
  /* margin-right: 200px; */
  margin-left: 410px;
}
.todolist-item {
  margin: 10px;
  align-items: center;
  justify-content: space-evenly;

  /* padding: 20px; */
}
ul {
  list-style: none;
}
li {
  font-size: 23px;
  /* vertical-align: bottom; */
  /* margin: 5px; */
}
.input-checkbox {
  width: 25px;
  height: 25px;
  margin-left: 40px;
}
.input-checkbox,
li {
  display: inline-block;
  vertical-align: middle;
}
input[type='checkbox']:checked + li.strikthru {
  text-decoration: line-through;
}
.trash-icon:hover + :focus {
  cursor: pointer;
}
.trash-icon {
  /* size: 100px; */
  font-size: 25px;
  background-color: transparent;
  color: gray;
}
.trash-item {
  display: inline-block;
  position: fixed;
  left: 1000px;
}
.delete-btn {
  background-color: transparent;
  border: none;
}
.deleteall-btn {
  justify-content: center;
  height: 40px;
  width: 100px;
  background-color: red;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  /* color: white; */
}
.delall-container {
  display: inline-block;
  position: fixed;
  left: 1000px;
  margin-top: 20px;
  /* justify-content: center; */
}
.flex1,
.flex2 {
  justify-content: space-around;
}
.flex3 {
  justify-content: flex-end;
  /* row-gap: 300px; */
  gap: 100px;

  /* margin-left: 400px; */
}
