.title {
  text-align: center;
  font-weight: bolder;
}
.App {
  font-size: 15px;
}
.nav-btns {
  display: flex;

  justify-content: center;
}
.nav-item {
  margin: 10px 10px -10px 10px;
  padding: 20px;
  text-decoration: underline;
  width: 100px;
}
.btn {
  margin: 5px;
  padding-bottom: 12px;
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 120px;
  width: 100px;
}

btn:no-active {
  border-bottom: none;
}

.hr-tag {
  margin-top: -15px;
  width: 35%;
  margin-left: 500px;
}
.todo-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.items {
  margin: 10px;
}

.input-item {
  width: 365px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: -12px;
  border: 3px solid gray;
}
.input-item:focus {
  outline: none !important;
  border: 2px solid #2f80ed;
}
.btn-item {
  height: 50px;
  width: 100px;
  background-color: #2f80ed;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
}
/***********Media Queries:(Medium devices**************/
@media screen and (max-width: 1024px) {
  .hr-tag {
    margin-top: -15px;
    width: 65%;
    margin-left: 130px;
  }
  .btn {
    margin-left: -10px;
  }
}

/********************For Smaller devices*/
@media screen and (max-width: 600px) {
  .hr-tag {
    margin-top: -15px;
    width: 85%;
    margin-left: 40px;
  }

  .nav-item {
    margin: 5px 20px 5px 5px;
    padding: 5px;

    width: 60px;
  }
  .input-item {
    width: 300px;
    height: 45px;

    margin-left: 5px;
  }
  .btn-item {
    height: 50px;
    width: 100px;

    margin-left: 100px;
  }
}
